<h1>Listing books</h1>

<table class="listing">
<% for book in @books %>
  <tr>
    <td class="name"><%=link_to h(book.title), book %></td>
    <td class="author"><%=h book.author.name %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %> | <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
